body {
  background-color: rgb(228, 255, 251);
}

#main-header {
  text-align: center;
  font-family: 'Shrikhand', cursive;
  font-size: 2em
}

.songs {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 25px;
  text-align: center;
  grid-row-gap: 25px;
}

img{
  border-radius: 50%
}
.songs li{
  font-family: 'Open Sans Condensed', sans-serif;
}
